<div id="cd-login" class="user-form">

    <%= form_for @session do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.text_field :password_digest %>
      <%= f.submit %>

      <% end %>

</div>
